@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background: #f3f3f3;
  margin: 0;
}
.image {
  height: 400px;
  margin: 20px;
  border-radius: 12px;
  margin-top: 40px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.world {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
}
.bottomline {
  position: absolute;
  margin: auto;
  left: 0;
  top: 200px;
  right: 0;
  bottom: 0;
  padding-bottom: 50px;
  letter-spacing: 2px;
  font-family: 'verdana';
  font-size: 12px;
  text-align: center;
  width: 800px;
  z-index: 99;
  color: grey;
}
a {
  position: relative;
  letter-spacing: 2px;
  font-family: 'verdana';
  font-size: 12px;
  color: #f48fb1;
  text-decoration: none;
}
/* BASIC CUBE CREATION */
/* BASIC CUBE CREATION */
/* BASIC CUBE CREATION */

.box {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 150px;
  width: 100px;
  height: 100px;
  animation: rotate 5s ease-in-out infinite;
  transform-style: preserve-3d;
}
.box:nth-of-type(1) {
  animation-delay: -5s;
  left: -250px;
}
.box:nth-of-type(2) {
  animation-delay: -4s;
  left: 0px;
}
.box:nth-of-type(3) {
  animation-delay: -3s;
  left: 250px;
}

.plane1,
.plane2 {
  position: absolute;
  opacity: 0.8;
}
.plane2 {
  transform: rotateY(90deg);
}
.heart {
  background-color: pink;
  height: 50px;
  transform: rotate(-45deg);
  width: 50px;
}
.heart:before {
  content: '';
  background-color: pink;
  border-radius: 100%;
  height: 50px;
  position: absolute;
  width: 50px;
  top: -25px;
}
.heart:after {
  content: '';
  background-color: pink;
  border-radius: 100%;
  height: 50px;
  position: absolute;
  width: 50px;
  top: 0px;
  left: 25px;
}

/* Rotation animation to actually see the cube */

@keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateZ(0deg) translateY(50px);
  }
  50% {
    transform: rotateY(270deg) rotateZ(25deg) translateY(-100px);
  }
  100% {
    transform: rotateY(360deg) rotateZ(0deg) translateY(50px);
  }
}
